body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
 /* Social section */
 .icons {
    text-align: right;
    padding-right: 60px;
    padding-top: 30px;
}
.icon a {
    padding-right: 15px;
}
 /* Banner Section */
.banner{
    display: flex;
}
.banner-half-width{
    width: 50%;
    padding-left: 78px;
}
.color{
    color: #FC8F49;
}
.banner h1{
    color: #575757;
    font-weight: 700;
    font-size: 53px;
    padding-top: 20%;
}
.banner p{
    color: #8C8C8C;
    margin-bottom: 40px;
    line-height: 2;
}
.banner img{
    height: 80%;
    padding-left: 30px;
}
.banner a{
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient( to right, #FB974C , #FE4A2E);
    padding: 15px 25px;
    border-radius: 50px;
    margin-top: 30px;
}
/* About section */
.about{
    display: flex;
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.about-half-width{
    width: 50%;
}
.about img{
    padding-left: 25%;
    padding-top: 50px;
}
.about h1{
    color: #575757;
    font-weight: 900;
    font-size: 40px;
    padding-top: 18%;
    padding-bottom: 4%;
}
.about-text{
    padding-left: 100px;
}
.about p{
    color: #8C8C8C;
    margin-bottom: 35px;
    line-height: 2;
    padding: 0px 10% 30px 0px;
    
    font-size: 17px;
}
.about a{
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient( to right, #FB974C , #FE4A2E);
    padding: 15px 25px;
    border-radius: 50px;
    margin-top: 30px;
}
/* Recipies section */
.recipies-item {
    display: flex;
    text-align: center;
    width: 90%;
    padding-left: 65px;
}
.recipies h1{
    text-align: center;
    padding-top: 60px;
    color: #6F6F6F;
    font-size: 33px;
}
.recipies p{
    text-align: center;
    padding: 0px 22% 25px;
    color: #828282;
    
}
.recipies-item img{
    height: 210px;
    width: 300px;
}
.box {
    padding: 18px 18px 18px 18px;
    box-shadow: 10px 10px 25px grey;
    margin: 24px 35px 24px 35px;
    border-radius: 25px;
}
.box h1{
    text-align: left;
    padding-top: 15px;
    color: #18191F;
    font-size: 23px;
    font-weight: 900;
}
.box p{
    text-align: left;
    padding: 0;
    color: #18191F;
    font-size: 13px;
    line-height: 2;
}
/* visitors section */
.visitor{
    margin: 30px 90px 80px 90px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 25px;
}
.vititors{
    display: flex;
}
.visitors-item {
    padding: 30px 0px 30px 15%;
}
.visitors-item h1 {
    font-weight: 900;font-size: 35px;
}
/* Contact section */
.contact{
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}
.contact h1{
    text-align: center;
    color: #6F6F6F;
    font-size: 40px;
    padding-bottom: 40px;
}
.contact-form{
    width: 600px;
    margin: auto;
    padding: 0 10px;
}
.contact-form-text{
    display: block;
    width: 100%;
    margin: 16px 0;
    border: 0;
    background: ##FFFFFF;
    padding: 20px 40px;
    color: #ddd;
}
textarea.contact-form-text{
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    background-image:linear-gradient(#FE5231, #FB954B);
}
.contact-form-btn:hover{
    background-image:linear-gradient(#FB954B, #FE5231);
}
  
 /* Footer section */
 .footer {
    background-color: #0B0D17;
    padding: 30px 0px 80px;
    text-align: center;
}
.footer span{
    color: #FB994C;
}
.footer h2{
    color: #5B5B5B;
    font-size: 20px;
}
.footer p{
    color: #52687A;
    font-size: 12px;
}
